<script>
        var pusher = new Pusher('b83ca9db118f5993e589', {
          cluster: 'us2',
          encrypted: true
        });
</script>

<% if notice %>
  <p id="notice" class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
<% end %>


<h1 class="title">Ruleta</h1>
<%= render 'layouts/seven_days_weather' %>
<%= render 'layouts/roullete_results' %>
<%= render 'layouts/bets' %>
<%= render 'layouts/jugadores_cards' %>
<%= render 'layouts/jugadores_list' %>

<script>
  var channel = pusher.subscribe('jugadores-channel');

  channel.bind('new-jugador', function(data) {
    let jugador_id = data.id
    let jugador_nombre = data.nombre;
    let jugador_email = data.email;
    let jugador_total_billetera = data.total_billetera;

    let div = document.getElementById('jugadores_section');
    let new_content = document.createElement("div");
    new_content.innerHTML = `
    <div class="col">
      <div class="card p-1" style="width: 12rem; color:white; background:black; border: 1px solid white; ">
        <div class="card-title">
          <h5>${jugador_nombre}</h5>
        </div>
        <div class="card-body d-grid gap-2">
          <p>Billetera: ${jugador_total_billetera}</p>
          <a href="/bet/new.${jugador_id}" class="btn btn-success btn-sm">Apostar</a>
          <a data-method="delete" href="/jugador/${jugador_id}" class="btn btn-danger btn-sm">Abandonar Mesa</a>
        </div>
      </div>
    </div>`;
    div.insertBefore(new_content, div.firstChild);
    });


</script>