<h1>Home#index</h1>
<img src="https://media.giphy.com/media/GWS8bXKxphfEI/giphy.gif" alt="">

<script>
        var pusher = new Pusher('b83ca9db118f5993e589', {
          cluster: 'us2',
          encrypted: true
        });
</script>


<h1 style="margin-top: 20px;">Jugadores Activos</h1>

  <div id="jugadores_section" class="row row-cols-1 row-cols-md-5 g-4 p-4">
    <% @jugadores.each do |jugador| %>
      <div class="col">
        <div class="card " style="width: 15rem; color:black;">
          <div class="card-title">
            <h2><%= jugador.nombre %></h2>
          </div>
          <div class="card-body">
            <p>Email: <%= jugador.email %></p>
            <p>Billetera: <%= jugador.total_billetera %></p>
            <a href="#" class="btn btn-primary btn-sm">Apostar</a>
            <a href="#" class="btn btn-primary btn-sm">Abandonar Mesa</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container my-4" style="text-align: center; max-width: 900px; border: 1px solid white;border-radius: 20px;">
    <h1>Jugadores Activos</h1>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Billetera</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @jugadores.each do |jugador| %>
          <tr> 
            <td><%= jugador.nombre %></td>
            <td><%= jugador.email %></td>
            <td><%= jugador.total_billetera %></td>
            <td><%= link_to 'Edit', edit_jugador_path(jugador), data: { "turbo-method": :get, confirm: "Are you sure?" }, class: "btn btn-warning btn-sm" %></td>          
            <td><%= link_to "Delete", jugador_path(jugador), data: { "turbo-method": :delete, confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %></td>          
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  


<script>
  var channel = pusher.subscribe('jugadores-channel');
  channel.bind('new-jugador', function(data) {
    let jugador_id = data.id
    let jugador_nombre = data.nombre;
    let jugador_email = data.email;
    let jugador_total_billetera = data.total_billetera;

    let div = document.getElementById('jugadores_section');
    let new_content = document.createElement("div");
    new_content.innerHTML = `
    <div class="col">
      <div class="card" style="width: 15rem; color:black;">
        <div class="card-title">
          <h2>${jugador_nombre}</h2>
        </div>
        <div class="card-body">
          <p>Email: ${jugador_email}</p>
          <p>Billetera: ${jugador_total_billetera}</p>
          <a href="#" class="btn btn-primary btn-sm">Apostar</a>
          <a href="#" class="btn btn-primary btn-sm">Abandonar Mesa</a>
        </div>
      </div>
    </div>`;
    div.insertBefore(new_content, div.firstChild);
    });
</script>