<div class="container p-4 bg-warning my-4" style="text-align: center; max-width: 900px; border: 1px solid white;border-radius: 20px;">
<% if @bet.errors.any? %>
  <h2>The following errors prevented the bet from saving:</h2>
  <ul>
  <% @bet.errors.full_messages.each do |msg|%>
  <li><%= msg %></li>
  <% end %>
  </ul>  
<% end %>
<%= form_for @bet do |f| %>
 <div class="form-group my-4">
  <%= f.label :bet_ammount %><br>
  <%= f.number_field :bet_ammount, :class => 'form-control', style: 'max-width: 400px;margin:auto;' %>
 </div>
 <div class="form-group my-4">
  <%= f.label 'Color' %><br>
  <%= f.select(:bet_color, ['red', 'black', 'green'], {}, { :class => 'form-select', style: 'max-width: 400px;margin:auto;' }) %>
  </div>  
 <div class="form-group">
  <%= f.submit "Modificar Apuesta", class: 'btn btn-danger' %>
 </div>
<% end %>
</div>