<div class="container my-4 content_box p-0" style="">
    <table class="table font_small" style="color:white;">
      <thead>
        <tr>
          <th>Ronda</th>
          <th>Color Ruleta</th>
          <th>Color Apostado</th>
          <th>Monto Apostado</th>
          <th>Resultado</th>
        </tr>
      </thead>

      <tbody>
        <% @previousrounds.each do |round| %>
          <tr <% if round.bet_color == round.winner_color %>
                style="background:rgba(0, 128, 0, 0.25);"
              <% else %>
                style="background:rgba(128, 0, 0, 0.25);"
              <% end %>> 
            <td><%= round.round_id %></td>
            <td style="width:50px;background:<%= round.winner_color %>"><%= round.winner_color.titleize %></td>
            <td style="width:50px;background:<%= round.bet_color %>"><%= round.bet_color.titleize %></td>
            <td style="text-align: right"><%= number_to_currency(round.bet_ammount, unit: '$ ', delimiter: '.', precision: 0) %></td>         
            <td style="" class="
            <% if round.bet_color == round.winner_color %>
                win_bet 
            <% end %>" style="">
            <% if round.bet_color == round.winner_color %>
                Win
            <% else %>
                Lose
            <% end %></td>         
          </tr>
        <% end %>
      </tbody>
    </table>
</div>