<div class="container my-4 content_box results_box">
  <div id="roullete_results" class="left_box p-4">
    <p>Ultimo Color Ganador:</p>
    <h1 class="animate" style="background:<%= @previous_rounds_winners.last.winner_color.titleize %>; margin:5px"><%= @previous_rounds_winners.last.winner_color.titleize %></h1>
    <%= link_to "Jugar Ronda", playround_path, :class => "btn btn-danger" %>
  </div>
  <div class="center_box"><img src="https://media.giphy.com/media/GWS8bXKxphfEI/giphy.gif" alt=""></div>
  <div class="right_box p-4">
    <h4>Resultados Anteriores</h4>
    <div>
      <% @previous_rounds_winners.to_enum.with_index.reverse_each do |round, index| %>
          <p class="<%=
            if index == 8 
              'animate'
            end %>" style="background:<%= round.winner_color  %>; margin:3px; border: 1px solid gray;"><%= round.winner_color.titleize  %></p>
        <% end %>
    </div>
  </div>
</div>